/*Grid layout*/
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    margin-left: 5px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*End Grid*/
/*Class Header style*/
.header
{
     background-color: #98C2FF;
     border-radius: 5px;
     font-size: 25px;
 }
/*End Header*/
/*Class ul style*/
.u1 {
	   list-style-type: none;
	    margin: 0;
	    padding: 0px;
	    /*overflow: hidden;*/
	}
/*End ul*/

/*Class footer*/
.footer
{
  	color: white;
    padding: 10px;
    text-align: center;
    background-color: #2F516C;
    border-radius: 5px;
}
/*End Class footer*/
/*ID*/
#img1{
	width: 35%;
}
#img2{
	width: 100%;
    margin-top: 8px;
}
#h1{
    text-align: center;
    color: orange;
    font-family: Impact;
}
#i1{
	text-align: right;
	color: red;
}
/*End ID
/*Class Button*/
.btn{
background-color:  #2196f3  ;
padding: 10px;
border-radius: 5px;
color: white;
margin-right: 10px;
margin-top: 5px
}
/*End Class